[Unit]
Description=Nereus Privileged Agent
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/he/workspace/python/NereusDoorLoongMagicPanel-backend
Environment=NDLM_PRIVILEGED_AGENT_SOCKET=/run/ndlmpanel/privileged-agent.sock
Environment=NDLM_PRIVILEGED_AGENT_SOCKET_GROUP=he
Environment=NDLM_PRIVILEGED_AGENT_SOCKET_MODE=660
ExecStart=/home/he/workspace/python/NereusDoorLoongMagicPanel-backend/.venv/bin/python -m privileged_agent.server
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target